
certifi==2021.10.8
click==7.1.2
gunicorn==20.1.0
jinja2==2.11.3
inflection==0.5.1
itsdangerous==1.1.0
kaleido==0.2.1
locket==0.2.1
macholib==1.16
MarkupSafe==2.0.1
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==2.4.1
unicodecsv==0.14.1
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2

